@import 'primeicons/primeicons.css';
@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css";


@import "tailwindcss";
 
@font-face {
    font-family: 'urbanist';
    src: url(./assets/font/urbanist.ttf);
}
@font-face {
    font-family: 'poppins';
    src: url(./assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'monument';
    src: url(./assets/font/MonumentExtended-Regular.otf);
}

body {
    font-family: 'urbanist';
}

.main_padding{
    @apply px-4 sm:px-6 lg:px-26;
}

.btn_primary {
    @apply bg-gradient-to-br from-green-600 to-green-400 hover:from-green-400 hover:to-green-600 transition-all duration-300;
}